p Bonjour #{supplierName},
p Nous vous confirmons vos commandes du jour :
each order in orders
  h4 #{order.customerName}
  ul
    each menu in order.menus
      if menu.quantity == 1
        li= menu.size + ' ' + menu.title
      else
        li= menu.quantity + 'x ' + menu.size + ' ' + menu.title
      if menu.extras
        each extra in menu.extras
          span= '+ ' + extra.Extra.title
          br
      if menu.remark
        span= menu.remark
        br
p Merci de vérifier #[a(href='https://lunch.brunswick-marine.com') lunch.brunswick-marine.com] pour plus d'informations sur les commandes.
hr(style='border: 0.5px solid #eeeeee')
br
a(href='https://lunch.brunswick-marine.com'): img(src='https://s3.eu-west-3.amazonaws.com/imb-brunswick/Cafeteria.png' alt='Brunswick logo' title="Brunswick logo" style="display: block" width="360" height="120")